body {
    text-align: center;
}

header {
    background-color: #FFD700;
}

.texto {
    margin-top: 30vh;
    text-align: justify;
    margin-left: 20vh;
    margin-right: 20vh;
    color: blue;
}

h1 {
    font-size: 7vh;
    margin-bottom: -2vh;
}

p {
    position: relative;
    margin-top: 3vh;
    font-size: 3vh;
    text-indent: 10vh;
}
